<div class="container">
  <div class="user-details">
    <h3> About me </h3>
        <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class = "image-block">
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-java-plain-wordmark"></i>
      <i class="devicon-dot-net-plain-wordmark colored"></i>
      <p>Some of the languages I have experience with are Java, C++, C#, VB.Net, ASP.Net, and HTML.</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-github-plain-wordmark"></i>
      <i class=""></i>
      <p>I am new to Git and GitHub, but working to get familar with both the version control and 
        publishing features.</p>
      </div>
    </div>
  </div>
</div>
