<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Java Projects </h5>
      <li> Featured Skills</li>
      <p>TODO - will put info in here.</p>
      <a class="project-link" href="https://github.com/rlawton2/JavaProjects">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Other Projects </h5>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>TODO - will put info in here.</p>
      <a class="project-link" href="https://github.com/rlawton2/OtherProjects">Check it out</a>
    </div>
  </div>
</div>
