<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
    <p>Below are some of the projects I have produced while expanding my knowledge in software development. Currently, I am working on a certifiate in frontend development with <a href="https://www.freecodecamp.org/">freecodecamp.org</a></p> 
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/keyboard.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Featured </h5>
      <p>My currently featured project is a blackjack game I developed. This project was created to test my skills in object design, inheritance, aggregation, enumerations, and collection types.</p>
      <a class="project-link" href="https://github.com/rlawton2/java-blackjack">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Other Projects </h5>
      <p>Many other projects can be viewed on my github account.</p>
      <a class="project-link" href="https://github.com/rlawton2">Check it out</a>
    </div>
  </div>
</div>
