<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
    <p>Below are some of the projects I have created. I did not include any work created in school.</p> 
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Featured </h5>
      <p>I am wrapping up a Blackjack program I created with JavaFX. This program utilizes enums and aggregation to build a deck of cards.</p>
      <a class="project-link" href="https://github.com/rlawton2">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Other Projects </h5>
      <p>Please look through my github account at some of my other projects.</p>
      <a class="project-link" href="https://github.com/rlawton2">Check it out</a>
    </div>
  </div>
</div>
